*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    height: 100vh;
    font-family: sans-serif;
    background-image: radial-gradient(circle at top right, #b2b3f1, #fff 42%, transparent 0), radial-gradient(circle at bottom left, #b2b3f1, #fff 42%, transparent 0);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    
}
.container{
    width: 100%;
    height: 100vh;
}   

.header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 20px;
}
.header img{
    width: 100px;
}
.login-content{
   width: 100%;
   height: 70vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.signup-box{
    width: 30%;
    height: 90%;
    min-width: 400px;
    box-shadow: 0px 0px 10px rgb(155, 154, 154, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    justify-content: space-around;
    padding: 50px;

}
.signup-box h1{
    text-align: center;
    font-size: 1.8em;

}
.signup-box>button{
    width: 100%;
    height: 60px;
    background-color: transparent;
    border-radius: 50px;
    border: 0.5px solid gray;
    font-size: 1.2em;
    display: flex;
    align-items:center;
   justify-content: center;
}
.signup-box button img{
    width: 40px;
    margin:0px 10px 0px 0px;
}
.signup-box a{
    text-decoration: none;
    color: black;
    font-weight: 800;

}
.center-line{
    display: flex;
    align-items: center;
    width: 100%;
}
.line{
    width: 100%;
    height: 1px;
    background-color: gray;
}
.email{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
    height: 35%;
    justify-content: space-around;
}
.email input{
    width: 100%;
    height: 60px;
    font-size: 1em;
    padding: 20px;
    border-radius: 50px;
    border: 0.5px solid gray;
    font-weight: 600;
}
.email>button{
    width: 100%;
    border-radius: 50px;
    height: 60px;
    font-size: 1.1em;
    border: 0.5px solid transparent;
    background-color: rgb(242, 241, 244);
    color: rgb(154, 160, 177);
    font-weight: 900;
}
.terms{
    align-self: center;
    text-align: center;
}
.terms p{
    font-size: 0.8em;
    letter-spacing: 1.2px;
    line-height: 1.5;
}
.terms span{
    color: rgb(15, 100, 248);
    text-decoration: underline;
   
}
.footer{
    display: flex;align-items: center;
    justify-content: center;
    flex-direction: column;

}
.footer>p:nth-child(1){
    font-size: 0.9em;
    margin: 0px 0px 50px 0px;
}
.footer>p span:nth-child(1){
    text-decoration: underline;
    color: rgb(15, 100, 248);
}
.footer>p:nth-child(2){
    font-size: 1em;
    width: 32%;
    letter-spacing: 1px;
    line-height: 1.3;
    text-align: center;
    min-width: 350px;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px 0px 0px;
}
.profile-pic img{
    width: 50px;
    margin: 0px 20px 0px 0px;
    border-radius: 50%;
}
.profile-name p{
    font-size: 0.8em;
}
.profile-name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (min-width:200px) and (max-width:768px) {
    .footer>p:nth-child(1){
        margin: 0px 0px 20px 0px;
    }
    .container{
        height: fit-content;
    }
    .signup-box h1{
        font-size: 1.5em;
    }
    .email input{
        margin: 20px 0px 0px 0px;
    }
    .email button{
        margin: 20px 0px 0px 0px;
        height:70px;
    }
    .center-line{
        margin:20px 0px 20px 0px;
    }
}





