* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

::selection {
    background-color: rgb(159, 205, 254);
}

/*Header*/
@keyframes menu-animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    font-family: "Circular", Helvetica, sans-serif;
    letter-spacing: 0.5px;
    overflow-x: hidden;
}

.container {
    width: 99.2vw;
    position: relative;

}

.header {
    width: 100vw;
    padding: 60px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    font-size: 1em;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.logo {
    width: 20%;
}

.header .menu {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px 250px;
}

.header p {
    cursor: pointer;
}

.drop-down-1 {
    display: inline-block;
    position: relative;

}

.ddown-content-1 {
    display: none;
    position: absolute;
    right: -150px;
    background-color: white;
    width: 350px;
    height: 400px;
    border-radius: 40px;
    padding: 30px 50px;
    border-style: solid 0px;
}

.ddown-content-1 a {
    width: 80%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;

}

.drop-down-1:hover .ddown-content-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: menu-animation 1s 1;
}

.ddown-content-1 img {
    width: 18px;
    margin: 0px 15px 0px 0px;
}

.drop-down-2 {
    display: inline-block;
    position: relative;
}

.ddown-content-2 {
    display: none;
    position: absolute;
    right: -140px;
    background-color: white;
    width: 300px;
    height: 350px;
    border-radius: 40px;
    padding: 30px 50px;
    border-style: solid 0px;

}

.drop-down-2:hover .ddown-content-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: menu-animation 1s 1;
}

.ddown-content-2 img {
    width: 18px;
    margin: 0px 15px 0px 0px;
}

.ddown-content-2 a {
    width: 70%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;

}

.drop-down-3 {
    display: inline-block;
    position: relative;
}

.ddown-content-3 {
    display: none;
    position: absolute;
    right: -150px;
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    padding: 30px 50px;
    border-style: solid 0px;


}

.drop-down-3:hover .ddown-content-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: menu-animation 1s 1;
}

.ddown-content-3 img {
    width: 18px;
    margin: 0px 15px 0px 0px;
}

.ddown-content-3 a {
    width: 90%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;

}

.drop-down-4 {
    display: inline-block;
    position: relative;
}

.ddown-content-4 {
    display: none;
    position: absolute;
    right: -160px;
    background-color: white;
    width: 300px;
    height: 150px;
    border-radius: 40px;
    padding: 30px 50px;
    border-style: solid 0px;

}

.drop-down-4:hover .ddown-content-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: menu-animation 1s 1;
}

.ddown-content-4 img {
    width: 18px;
    margin: 0px 15px 0px 0px;
}

.ddown-content-4 a {
    width: 70%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;

}

.header p img {
    width: 8px;
}

.login-buttons {
    min-width: 450px;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header .logo img {
    width: 150px;
}

.login-buttons img {
    width: 60px;
}

.login-buttons a button:nth-child(1) {
    min-width: 150px;
    width: 40%;
    height: 60px;
    background-color: #565ADD;
    color: #DEE0FB;
    font-size: 0.9em;
    font-weight: 500;
    border: 5px solid #BBBDF1;
    border-radius: 50px;
}


.login-buttons button:last-of-type {
    min-width: 130px;
    width: 25%;
    height: 50px;
    background-color: #EFF0FF;
    font-size: 1em;
    color: #4F46AF;
    font-weight: 200;
    border: 1px solid transparent;
    border-radius: 50px;
}

.menu-bar {
    background-color: rgb(239, 240, 255);
    display: none;
    padding: 10px;
    border-radius: 50%;
}

.menu-bar img {
    width: 20px;
}

@media screen and (max-width:1500px) {
    .header .logo img {
        width: 100px;
    }

    .header .menu {
        display: none;
    }

    .login-buttons button:first-of-type {
        width: 28%;
        height: 60px;
        font-size: 0.9em;
        border-radius: 28px;

    }

    .menu-bar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.first-box {
    width: 100vw;
    height: 180vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 238, 225);
}

.first-box-heading {
    margin: 100px 0px 0px 0px;
    width: 80%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.first-box-heading h1 {
    font-size: 4em;
    width: 80%;
    text-align: center;
    color: rgb(52, 33, 24);
    line-height: 1.3;
}

.first-box-heading h2 {
    color: rgb(80, 53, 39);
    font-size: 1.7em;
}

.first-box-heading p:first-of-type {
    font-size: 1.4em;
    width: 50%;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
}

.first-box-heading p:last-of-type {
    font-size: 0.9em;
    margin: 0px 0px 30px 0px;
}

.first-box-heading button {
    width: 15%;
    height: 70px;
    background-color: #565ADD;
    color: #DEE0FB;
    font-size: 1em;
    font-weight: 900;
    border: 5px solid #BBBDF1;
    border-radius: 50px;
    margin: 30px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    min-height: 50px;
}

.first-box-heading button img {
    width: 20px;
    margin: 0px 10px 0px 0px;
}

.first-image-box {
    width: 55%;
    height: 40%;
    background-image: url(../Photos/company-okrs.webp);
    background-size: cover;
    border-radius: 50px;
    padding: 30px;
    display: flex;
    min-width: 400px;
    justify-content: flex-end;
}

.first-image-box video {
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

.first-box-content1 {
    margin: 200px 0px 0px 0px;
    width: 80%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    min-width: 400px;

}

.f-content1-box1 {
    width: 47%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.f-content1-box1 h1 {
    font-size: 3em;
    width: 90%;
    margin: 0px 0px 50px 0px;
}

.f-content1-box1 p {
    font-size: 1.5em;
    width: 90%;
    line-height: 1.5;
}

.f-content1-box2 {
    display: flex;
    width: 51%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
    min-width: 400px;
}

.f-content1-box2 p {
    font-size: 1em;
    margin: 10px 0px 0px 0px;
    color: rgb(80, 53, 39);
}

.f-content1-box2 h1 {
    color: rgb(52, 33, 24);
}

.box1-data {
    width: 90%;
}

.tick img {
    width: 20px;
    margin: 0px 20px 0px 0px;
}

@keyframes scroll-logo-anime {
    0% {
        transform: translate(100%);
    }

    100% {
        transform: translate(-100%);
    }

}

.second-box {
    width: 100vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.second-box h1 {
    font-size: 2.6em;
    width: 50%;
    text-align: center;
    line-height: 1.5;
    margin: 0px 0px 50px 0px;
}

.scrolling-logo {
    height: 180px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scroll-one {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    flex-wrap: wrap;
}

.scrolling-logo img {
    width: 150px;
    filter: invert(60%);
    animation: scroll-logo-anime 5s linear infinite;
}

.third-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 50vh;
}

.third-box-content {
    width: 70%;
    height: 90%;
    margin: 50px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.third-box-content img {
    width: 20px;
}

.third-box h1 {
    font-size: 4em;
}

.t-box-head {
    display: flex;
    align-items: center;
}

.t-box-head h2 {
    font-size: 1.4em;
    color: rgb(52, 33, 24);
}

.t-box-head img {
    margin: 0px 20px 0px 0px;
}

.t-box-words p {
    font-size: 1.1em;
    margin: 30px 0px 0px 0px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: rgb(80, 53, 39);
}

.third-boxes {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 300px;
    margin: 30px 0px 0px 0px;
}

.fourth-box {
    width: 100vw;
    height: 450vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.fourth-heading {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.fourth-heading h1 {
    width: 65%;
    text-align: center;
    color: rgb(17, 16, 25);
    font-size: 4em;
}

.fourth-heading p {
    font-size: 1.5em;
    margin: 30px 0px 30px 0px;
    color: #6c6684;
}

.fourth-content {
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;

}

.fourth-boxes {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px 0px 0px;
}

.f-box-side1 {
    width: 45%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background-color: rgb(255, 238, 225);
    border-radius: 50px 0px 0px 50px;
}

.f-box-side1 h1 {
    color: rgb(52, 33, 24);
    margin: 0px 0px 20px 0px;
    font-size: 2.3em;
}

.f-box-side1 p {
    color: rgb(80, 53, 39);
    font-size: 1.1em;
    letter-spacing: 1px;
    line-height: 1.7;
    width: 80%;
}

.f-box-side2 {
    width: 55%;
    height: 100%;
    background-image: url(../Photos/fourth-box-pic1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
}

.image2 {
    background-image: url(../Photos/fourth-box-pic2.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.image3 {
    background-image: url(../Photos/fourth-box-pic3.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.image4 {
    background-image: url(../Photos/fourth-box-pic4.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.image5 {
    background-image: url(../Photos/fourth-box-pic5.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.fifth-box {
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fifth-content {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: scroll;
    border-radius: 20%;
}

.fifth-content::-webkit-scrollbar {
    visibility: hidden;
}

.content-5-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    flex: 0 0 auto;
    width: 70%;
    height: 80%;
    border-radius: 50px;
    margin: 0px 50px 0px 0px;
    border-radius: 50px;
}

.content-5-1 img {
    width: 100px;
}

.content-5-1 h1 {
    font-size: 1.5em;
    text-align: center;
    width: 65%;
    line-height: 1.5;
    margin: 50px 0px 50px 0px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-pic img {
    width: 60px;
    border-radius: 50%;
    height: 60px;
    margin: 0px 30px 0px 0px;
}

.profile-content h3 {
    margin: 0px 0px 10px 0px;
    font-size: 1em;
}

.profile-content p {
    font-size: 0.8em;
}

.five-1 {
    background-color: rgb(227, 243, 255);
}

.five-2 {
    background-color: rgb(248, 237, 251);
}

.five-3 {
    background-color: rgb(232, 245, 227);
}

.five-4 {
    background-color: rgb(239, 240, 255);
}

.sixth-box {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sixth-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 90%;
    background-color: rgb(239, 240, 255);
    border-radius: 80px;
    padding: 50px;
}

.content6-side-1 {
    width: 47%;
    height: 85%;
    background-image: url(../Photos/ai-alignment.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
}

.content6-side-2 {
    width: 47%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content6-side-2 h1 {
    font-size: 2.7em;
    margin: 0px 0px 30px 0px;
    color: rgb(43, 28, 85);
}

.content6-side-2 p {
    font-size: 1.4em;
    width: 80%;
    letter-spacing: 1.2px;
    line-height: 1.7;
    margin: 0px 0px 40px 0px;
    color: rgb(61, 46, 124);
}

.content6-side-2 button {
    min-width: 150px;
    width: 20%;
    height: 70px;
    background-color: #565ADD;
    color: #DEE0FB;
    font-size: 1em;
    font-weight: 900;
    border: 5px solid #BBBDF1;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    min-height: 50px;

}

.seventh-box {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seventh-content {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 80px 0px 0px 0px;
}

.content7-box {
    width: 30%;
    height: 90%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: rgb(237, 238, 253);
}

.content7-image-box {
    width: 100%;
    height: 80%;
    border-radius: 50px;
    background-image: url(../Photos/7-1.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.seventh-content h1 {
    font-size: 1.5em;
    text-align: center;
}

.seventh-box>h1 {
    font-size: 4em;

}

.content7-img2 {
    background-image: url(../Photos/7-2.webp);
    height: 70%;
}

.content7-img3 {
    background-image: url(../Photos/7-3.webp);
}

.content7-bigbox {
    height: 100%;
}

.seventh-box button {
    margin: 80px 0px 0px 0px;
    width: 200px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 50px;
    background-color: rgb(239, 240, 255);
    color: rgb(77, 68, 174);
    font-size: 1em;
    font-weight: 800;
}

.footer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0px 0px;
}

.install-loom {
    width: 65%;
    height: 250px;
    box-shadow: 0px 0px 25px rgb(185, 183, 183);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    margin-bottom: -40px;
    z-index: 1;
    background-color: white;
}

.install-loom h1 {
    font-size: 2.5em;
    color: rgb(17, 16, 25);
}

.install-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.install-button button {
    width: 250px;
    height: 70px;
    background-color: rgb(86, 90, 221);
    color: rgb(238, 239, 255);
    border: 5px solid rgb(187, 189, 241);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: 800;
    margin: 0px 0px 20px 0px;
}

.install-button button img {
    width: 20px;
    margin: 0px 10px 0px 0px;
}

.install-button p {
    font-size: 0.9em;
    color: rgb(67, 59, 149);
}

.links {
    width: 100%;
    height: 60%;
    background-color: rgb(239, 240, 255);
    display: flex;
    padding: 150px 50px 50px 100px;
    align-items: flex-start;
    justify-content: space-between;

}

.links a {
    text-decoration: none;
}

.link-box {
    width: 15%;
    display: flex;
    flex-direction: column;
}

.link-box h3 {
    font-size: 0.9em;
    font-weight: 600;
    color: rgb(61, 46, 124);
    margin: 0px 0px 20px 0px;
}

.link-box p {
    color: rgb(61, 46, 124);
    font-size: 1em;
    margin: 0px 0px 20px 0px;
}

.social-media {
    background-color: white;
    width: 100vw;
    height: 20vh;
    padding: 50px 200px 50px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.side-1 {
    width: 29%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.side-1 img {
    width: 50px;
    background-color: rgb(239, 240, 255);
    padding: 15px;
    border-radius: 50%;
}

.side-1 p {
    font-size: 0.8em;
    color: #3b394e;
}

.side-2 img {
    width: 30px;
}

.side-2 .atlassian-logo {
    display: flex;
    align-items: flex-end;

}

border-r {
    border-radius: 0px 50px 50px 0px;
}

.side-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.atlassian-logo h3 {
    color: rgb(0, 80, 211);
}

.inc p {
    margin: 10px 0px 0px 0px;
    font-size: 0.9em;
    color: #3b394e;

}

#border {
    border-radius: 40px;
}

#border-r {
    border-radius: 0px 40px 40px 0px;
}

@media screen and (min-width:100px) and (max-width:768px) {
    .login-buttons {
        display: none;
    }

    .header {
        width: 100vw;
        height: 80px;
        padding: 20px;
        overflow: hidden;
    }
}

#border {
    border-radius: 40px;
}

#border-r {
    border-radius: 0px 40px 40px 0px;
}
@media screen and (min-width:200px) and (max-width:1100px) {
    .first-box {
        height: fit-content;
    }

    .first-box-heading {
        min-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .first-box-heading h2 {
        min-width: 340px;
        font-size: 1.3em;
        text-align: center;
    }

    .first-box-heading h1 {
        min-width: 360px;
        font-size: 2.5em;
        margin: 20px 0px 20px 0px;
    }

    .first-box-heading p {
        font-size: 0.8em;
        min-width: 340px;

    }

    .first-box-heading p:last-of-type {
        text-align: center;
        margin: 10px 0px 0px 0px;
    }

    .first-image-box {
        min-height: 300px;
        min-width: 400px;
        margin: 20px 0px 0px 0px;
    }

    .first-image-box video {
        height: fit-content;
        width: 100px;
        object-fit: cover;
    }

    .first-box-content1 {
        height: fit-content;
        padding: 0px 30px 30px 0px;
    }

    .f-content1-box1 h1 {
        font-size: 1.8em;
    }

    .f-content1-box1 p {
        margin: 0px 0px 30px 0px;
        font-size: 1.1em;
    }

    .tick img {
        display: none;
    }

    .box1-data {
        min-width: 400px;
        justify-content: flex-start;
    }

    .box1-data h1 {
        font-size: 1.5em;
        margin: 10px 0px 10px 0px;
    }

    .second-box {
        height: fit-content;
    }

    .second-box h1 {
        font-size: 1.5em;
        min-width: 300px;
        margin: 30px 0px 50px 0px;
    }

    .scroll-one img {
        width: 80px;
        margin: 0px 30px 30px 0px;
    }

    .third-box {
        height: fit-content;
    }

    .third-box h1 {
        min-width: 340px;
        font-size: 2em;

    }

    .fourth-box {
        height: fit-content;
        margin: 50px 0px 50px 0px;
    }

    .fourth-heading>h1 {
        min-width: 350px;
        font-size: 2em;
    }

    .fourth-heading p {
        font-size: 1.1em;
    }

    .fourth-content {
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fourth-boxes {
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
        min-width: 400px;
        padding: 20px;


    }

    .f-box-side1 {
        min-width: 350px;
        border-radius: 0px 0px 20px 20px;
    }

    .f-box-side2 {
        min-height: 200px;
        min-width: 350px;
        border-radius: 20px 20px 0px 0px;
    }

    #border {
        border-radius: 0px 0px 20px 20px;
    }

    #border-r {
        border-radius: 20px 20px 0px 0px;
    }

    .fifth-box {
        min-width: 400px;
        height: fit-content;
        margin: 30px 0px 0px 0px;

    }

    .fifth-content {
        min-width: 350px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 20px;
    }

    .content-5-1 {
        min-width: 350px;
        height: fit-content;
        padding: 30px;
    }

    .content-5-1>img {
        width: 100px;
    }

    .content-5-1 h1 {
        font-size: 1em;
        width: 300px;
    }

    .install-loom {
        min-width: 300px;
        padding: 20px;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }

    .install-loom h1 {
        text-align: center;
        font-size: 1.5em;
    }

    .install-button {
        width: 100%;

    }

    .install-button button {
        margin: 20px 0px 10px 0px;
        max-width: 180px;
        font-size: 0.9em;
        height: 55px;
    }

    .footer {
        height: fit-content;
    }

    .links {
        height: fit-content;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .link-box {
        margin: 0px 0px 30px 0px;
        font-size: 0.9em;
        min-width: 300px;
    }

    .social-media {
        display: flex;
        justify-content: center;

    }

    .side-1 {
        min-width: 340px;
    }

    .social-media {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

    }

    .side-2 {
        min-width: 340px;
    }

    .side-1 img {
        background-color: transparent;
        padding: 0px;
        width: 20px;
        margin: 0px 20px 0px 0px;

    }

    .sixth-box {
        margin: 20px 0px 0px 0px;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sixth-content {
        height: fit-content;
        padding: 30px;
        min-width: 400px;
        border-radius: 20px;
        flex-wrap: wrap-reverse;

    }

    .content6-side-1 {
        min-width: 340px;
        min-height: 400px;
        border-radius: 20px;
        margin: 20px 0px 0px 0px;
    }

    .content6-side-2 h1 {
        font-size: 1.6em;
        width: 350px;
    }

    .content6-side-2 p {
        font-size: 1.2em;
        width: 350px;
    }

    .seventh-box {
        height: fit-content;
        margin: 50px 0px 0px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .seventh-box h1 {
        font-size: 1.8em;
        text-align: center;
    }

    .seventh-content {
        height: fit-content;
        flex-wrap: wrap;
        min-width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .content7-box {
        min-width: 400px;
        border-radius: 20px;
        padding: 30px;
        margin: 0px 0px 20px 0px;
    }
    
    .content7-image-box {
        min-height: 230px;
        min-width: 330px;
        border-radius: 20px;
        margin: 0px 0px 20px 0px;

    }

    .seventh-content h1 {
        font-size: 1.4em;
    }


}